<!DOCTYPE html>
<html lang="en"
      xlmns:th="http://www.thymeleaf.org" xmlns:xlmns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/script.js}"></script>
</head>
<body>
    <ul class="nav__list">
        <li class="list__item"><img th:src="@{./img/icons/halykLogo.svg}" alt=""></li>
        <li class="list__item">
            <img th:src="@{./img/icons/organize.svg}" alt="">
            Организации
        </li>
        <li class="list__item">
            <img th:src="@{./img/icons/notice.svg}" alt="">
            Уведомления
        </li>
        <li class="list__item">
            <img th:src="@{./img/icons/gosusluga.svg}" alt="">
            Госуслуги
        </li>
        <li class="list__item">
            <img th:src="@{./img/icons/settings.svg}" alt="">
            Настройки
        </li>
        <li class="list__item">
            <img th:src="@{./img/icons/contact.svg}" alt="">
            Контакты банка
        </li>
        
    </ul>
    <div class="content">
        <h1>Профиль</h1>
        <div class="content__wrapper">
            <h4>Фото Профиля</h4>
            
            <input type="file" class="uploadImg">
        </div>
    </div>
    <div class="profile">
        Dias M.
        <img th:src="@{./img/icons/Icon.svg}" alt="">
    </div>
</body>
</html>